@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 218 31% 100%;
    --foreground: 218 59% 2%;
    --muted: 218 30% 93%;
    --muted-foreground: 218 12% 31%;
    --popover: 0 0% 99%;
    --popover-foreground: 218 59% 1%;
    --card: 0 0% 99%;
    --card-foreground: 218 59% 1%;
    --border: 218 11% 90%;
    --input: 218 11% 90%;
    --primary: 218 50% 25%;
    --primary-foreground: 218 50% 85%;
    --secondary: 218 12% 88%;
    --secondary-foreground: 218 12% 28%;
    --accent: 218 19% 82%;
    --accent-foreground: 218 19% 22%;
    --destructive: 9 82% 30%;
    --destructive-foreground: 9 82% 90%;
    --ring: 218 50% 25%;
    --radius: 0.5rem;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
